<h1>Burgers</h1>

<h2>Devour the Burgers</h2>

<ul>
  {{#each }}
    {{#unless }}
      {{> }}
    {{/unless}}
  {{/each}}
</ul>

<h2>More Burgers</h2>

<ul>
  {{#each }}
    {{#if }}
      {{> }}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="" name="bur_name">
  </div>

  <button type="submit">Add Burger</button>
</form>