<h1>Burgers</h1>

<h2>Devour the Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>More Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="" name="bur_name">
  </div>

  <button type="submit">Add Burger</button>
</form>